[submodule "apps/prizma"]
	path = apps/prizma
	url = https://github.com/werhamer/prizma-pages.git
[submodule "apps/puzzle"]
	path = apps/puzzle
	url = https://github.com/werhamer/puzzel.git
[submodule "apps/ritenza"]
	path = apps/ritenza
	url = https://github.com/werhamer/ritenza-legal.git
[submodule "apps/reset"]
	path = apps/reset
	url = https://github.com/werhamer/reset-legal.git
[submodule "apps/lokallens"]
	path = apps/lokallens
	url = https://github.com/werhamer/lokallens-legal.git
